/* style.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-card {
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.page-title {
  font-size: 1.875rem;
  color: #db2777;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.page-title img {
  width: 2rem;
  height: 2rem;
}

.folders-section {
  margin-bottom: 2rem;
}

.folders-section h2 {
  color: #db2777;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.folder-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  max-width: 100%;
}
.folder-edit-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
}
.stacked-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stacked-buttons button {
  width: 100%;
  min-width: 5rem;
}
.folder-item {
  max-width: calc(100% - 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgb(253, 242, 248);
  display: flex;
  align-items: center;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #db2777;
}

.folder-item.active {
  background-color: #db2777;
  color: white;
}

.add-folder,
.add-task {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #fbcfe8;
  border-radius: 0.5rem;
  max-width: calc(100% - 1rem);
  outline: none;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
button {
  background-color: #f472b6;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.task-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
}
.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #f8e7f1; 
  border-radius: 0.5rem;
  font-size: 1rem; 
  flex-wrap: wrap;
  gap: 0.5rem;
}
.task-label {
  display: flex;
  align-items: center;
  min-width: 0;
  gap: 0.5rem;
  flex: 1;
}
.task-label span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.completed {
  text-decoration: line-through;
  color: #9ca3af;
}
.delete-button {
  background: none;
  border: none;
  padding: 0.25rem;
  cursor: pointer;
  font-size: 1.2rem; /* Increase font size */
}
.edit-button {
  background: none;
  border: none;
  padding: 0.25rem;
  cursor: pointer;
  font-size: 1.2rem; /* Increase font size */
}
.task-label input {
  margin-right: 0.5rem; /* Add margin to the right of the checkbox */
}

.icon-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 0.5rem;
}
.modal-content {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(100% - 2rem);
  max-width: 20rem;
  margin: 0 1rem;
  text-align: center;
  box-sizing: border-box;
}
